# FastAPI stack
fastapi
uvicorn[standard]
python-multipart
pypdf2
google-generativeai

# Flask stack
flask
gunicorn
flask-cors

# MongoDB
pymongo
dnspython


# PDF handling
pymupdf


pdf2image
PyPDF2
pytesseract
pillow

google-generativeai



